<div class="max-w-xl mx-auto mt-12 p-8 bg-white rounded shadow">
  <h3><%= t ".title" %></h3>

  <div class="my-8">
    <h4><%= @subscription.plan.name %></h4>
    <div class="mb-2 text-lg">
      <%= @subscription.amount_with_currency %>
      <% if @subscription.plan.unit? %>per <%= @subscription.plan.unit %><% end %>
      / <%= @subscription.plan.interval %>
    </div>

    <% if @subscription.quantity > 1 %>
      <div><%= t(".quantity", quantity: @subscription.quantity, price: @subscription.plan.amount_with_currency) %></div>
    <% end %>
  </div>

  <div class="flex-1 mt-2 mb-4 text-gray-700">
    <div class="font-bold"><%= t ".description", product: Jumpstart.config.application_name %></div>
    <div><%= t ".help_html", link: mail_to(Jumpstart.config.support_email, t(".contact_us"), subject: t(".subject", product: Jumpstart.config.application_name), class: "underline text-blue-600") %></div>
    <div class="mt-4"><%= t(".active_until") %></div>
    <div class="mt-4"><%= t(".resume") %></div>
  </div>

  <div class="mt-8 flex justify-between items-center">
    <%= link_to t(".back"), subscriptions_path, class: "btn btn-light-gray" %>

    <%= button_to subscription_cancel_path(@subscription), method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: t("are_you_sure") } } do %>
      <%= button_text t(".button"), disable_with: t(".processing") %>
    <% end %>
  </div>
</div>
