<div class="max-w-xl mx-auto mt-12 p-8 bg-white rounded border border-gray-200">
  <h3><%= t ".header" %></h3>
  <p class="mb-4 text-sm text-gray-700"><%= t ".subheader" %></p>

  <div class="mb-4">
    <ol class="mt-5">
      <li>
        <%= t ".instructions_1_html",
          android: link_to("Android", "https://play.google.com/store/apps/details?id=com.authy.authy", target: :blank),
          ios: link_to("iOS", "https://apps.apple.com/us/app/authy/id494168017", target: :blank)
        %>
      </li>
      <li><%= t ".instructions_2" %></li>
      <li><%= t ".instructions_3" %></li>
    </ol>
  </div>

  <div class="w-1/2 my-12 mx-auto">
    <%= current_user.two_factor_otp_qr_code.html_safe %>
  </div>

  <h6 class="font-semibold"><%= t ".verify_header" %></h6>
  <p class="mb-4 text-sm text-gray-700"><%= t ".verify_description" %></p>

  <%= form_with url: user_two_factor_path do |form| %>
    <div class="form-group">
      <%= form.text_field :code, placeholder: "123456", class: "form-control" %>
    </div>

    <div class="flex justify-between">
      <%= link_to t(".cancel"), edit_account_password_path, class: "btn btn-white" %>
      <%= form.submit t(".verify"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
