<% content_for :title, "Dashboard" %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Dashboard
  </h1>
</header>

<section class="main-content__body">
  <div class="flex">
    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">Total Revenue</h4>
      <p class="text-3xl font-bold"><%= number_to_currency @total_revenue %></p>
    </div>

    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">Revenue Last 12mo</h4>
      <p class="text-3xl font-bold"><%= number_to_currency @last_12_mos %></p>
    </div>

    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">Last Month's Revenue</h4>
      <p class="text-3xl font-bold"><%= number_to_currency @last_month %></p>
    </div>

    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">This Month's Revenue To Date</h4>
      <p class="text-3xl font-bold"><%= number_to_currency @this_month %></p>
    </div>
  </div>

  <div class="flex">
    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">Users</h4>
      <p class="text-3xl font-bold"><%= @users %></p>
    </div>

    <div class="flex-1 shadow rounded p-4 m-4 text-center">
      <h4 class="font-normal mb-2">Active Subscriptions</h4>
      <p class="text-3xl font-bold"><%= @subscriptions %></p>
    </div>
  </div>
</section>
