<div class="mx-auto mt-10 p-10 bg-white rounded-lg border border-gray-300 text-center" style="max-width: 600px">
  <h1 class="text-3xl mb-3">Join <%= @account.name %></h1>
  <div class="flex items-center justify-center text-gray-800">
    <%= image_tag avatar_url_for(@account_invitation.account), class: "h-5 w-5 rounded-full inline-block mr-1" %>
    <div>
      <%= t(".invited_you_to_join_html", inviter: @account_invitation.invited_by.name, account: @account_invitation.account.name) %>
    </div>
  </div>

  <div class="mt-5">
    <%= link_to t(".accept"), account_invitation_path(@account_invitation.token), method: :put, class: "btn btn-secondary" %>
    <%= link_to t(".decline"), account_invitation_path(@account_invitation.token), method: :delete, class: "btn btn-tertiary outline" %>
  </div>
</div>
