<%= form_with(model: [@account, account_user]) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <h5 class="mb-2"><%= t("accounts.roles") %></h5>
  <div class="form-group">
    <% AccountUser::ROLES.each do |role| %>
      <div>
        <%= form.check_box role, id: role.to_s.parameterize, class: "form-checkbox mr-1", disabled: role == :admin && account_user.account_owner? %>
        <label for="<%= role.to_s.parameterize %>" class="inline-block"><%= role.to_s.humanize %></label>
      </div>
    <% end %>
  </div>

  <div class="flex justify-between form-group">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to t("delete"), account_account_user_path(@account, form.object), class: "btn btn-danger outline", data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
