<div class="form-group">
  <h4>Turbo Native Integration</h4>
  <p class="small text-gray-600">Configuration for Turbo Native mobile apps. See <%= link_to "Jumpstart Pro iOS", "https://jumpstartrails.com/ios", target: :_blank %> and <%= link_to "Jumpstart Pro Android", "https://jumpstartrails.com/android", target: :_blank %>.</p>

  <h5 class="mt-4">Apple Push Notifications</h5>
  <p class="small text-gray-600">To send native push notifications to iOS devices, you'll need to use the Apple Push Notification Service. Enabling this adds the Apnotic dependency for Noticed.</p>

  <div class="mt-2 custom-control custom-checkbox">
    <%= f.check_box :apns, value: true, checked: Jumpstart.config.apns?, class: "form-checkbox" %>
    <%= f.label :apns, "Enable", class: "inline-block" %>
  </div>
  <p class="text-xs text-gray-600">Don't forget to follow the <%= link_to "iOS documentation in Noticed", "https://github.com/excid3/noticed/blob/master/docs/delivery_methods/ios.md", target: :_blank %> to configure your credentials.</p>

  <h5 class="mt-4">Android Notifications</h5>
  <p class="small text-gray-600">To send native push notifications to Android devices, you'll need to use Firebase Cloud Messaging. Enabling this adds the GoogleAuth dependency for Noticed.</p>

  <div class="mt-2 custom-control custom-checkbox">
    <%= f.check_box :fcm, value: true, checked: Jumpstart.config.fcm?, class: "form-checkbox" %>
    <%= f.label :fcm, "Enable", class: "inline-block" %>
  </div>
  <p class="text-xs text-gray-600">Don't forget to follow the <%= link_to "FCM documentation in Noticed", "https://github.com/excid3/noticed/blob/master/docs/delivery_methods/fcm.md", target: :_blank %> to configure your credentials.</p>
</div>
