<div class="w-full h-auto px-2 py-4 text-sm lg:px-6">
  <div class="flex flex-col-reverse p-4 text-sm lg:flex-row lg:justify-between lg:p-0">
    <div class="flex items-center justify-center">
      <%= link_to root_path, class: "hidden sm:inline-block" do %>
        <%= render_svg 'mark', styles: "fill-current text-gray-600 hover:text-gray-700" %>
      <% end %>
      <div class="ml-4 text-gray-700">© <%= Date.current.year %> <%= Jumpstart.config.business_name %></div>
    </div>

    <div class="flex flex-wrap justify-center">
      <%= link_to t(".about"), about_path, class: "text-gray-700 no-underline block px-4 lg:my-0 my-2" %>
      <%= link_to t(".privacy"), privacy_path, class: "text-gray-700 hover:text-gray-800 no-underline block lg:my-0 my-2 px-4" %>
      <%= link_to t(".terms"), terms_path, class: "text-gray-700 hover:text-gray-800 no-underline block lg:my-0 my-2 px-4" %>
    </div>
  </div>
</div>
