<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-200">
      <h1 class="h3 mb-4"><%= t(".update_password") %></h1>
      <%= form_with(model: current_user, url: account_password_path, local: true, html: { method: :put }, class: "max-w-lg") do |f| %>
        <%= render "shared/error_messages", resource: current_user %>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
          <p class="text-sm text-gray-600 mt-3">We need your current password to confirm your changes</p>
        </div>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "form-control" %>
          <% if @minimum_password_length %>
            <p class="text-sm text-gray-600 mt-3"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit t(".update"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="lg:p-10 mt-4 p-4 bg-white rounded-lg border border-gray-200">
      <h2 class="h3"><%= t(".two_factor.header") %></h2>
      <p class="mb-4 text-gray-500"><%= t(".two_factor.description") %></p>
      <% if current_user.otp_required_for_login? %>
        <div><%= link_to t(".two_factor.disable"), user_two_factor_path, class: "btn btn-danger outline", data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") } %></div>

      <% else %>
        <%= link_to t(".two_factor.enable"), backup_codes_user_two_factor_path, class: "btn btn-tertiary" %>
      <% end %>
    </div>
  </div>
</div>
