<div class="container m-auto my-10">
  <div class="flex flex-wrap justify-center">
    <div class="text-center">
      <h1><%= t(".heading") %></h1>
      <p class="mt-2 text-xl text-gray-500"><%= t(".subhead") %></p>
    </div>
  </div>

  <div data-controller="pricing" class="sm:flex flex-wrap items-center justify-center">
    <div data-pricing-target="toggle" class="relative self-center my-8 bg-gray-200 rounded-full p-0.5 flex sm:mt-8">
      <button type="button" data-action="click->pricing#switch" data-pricing-target="frequency" data-frequency="monthly" class="relative w-1/2 bg-white border-gray-200 rounded-full py-2 text-sm font-medium text-gray-700 whitespace-nowrap focus:outline-none focus:z-10 sm:w-auto sm:px-8">Monthly</button>
      <button type="button" data-action="click->pricing#switch" data-pricing-target="frequency" data-frequency="yearly" class="ml-0.5 relative w-1/2 border border-transparent rounded-full py-2 text-sm font-medium text-gray-700 whitespace-nowrap focus:outline-none focus:z-10 sm:w-auto sm:px-8">Yearly</button>
    </div>

    <div class="w-full lg:px-0 px-2">
      <div data-pricing-target="plans" data-frequency="monthly" class="flex flex-wrap items-center justify-center -mx-4">
        <% @monthly_plans.each do |plan| %>
          <%= render layout: "subscriptions/plan", locals: { plan: plan } do %>
            <%= link_to pricing_cta(plan), new_subscription_path(plan: plan.id), class: "btn btn-tertiary btn-large btn-block" %>
          <% end %>
        <% end %>
      </div>

      <div data-pricing-target="plans" data-frequency="yearly" class="hidden flex-wrap items-center justify-center -mx-4">
        <% @yearly_plans.each do |plan| %>
          <%= render layout: "subscriptions/plan", locals: { plan: plan } do %>
            <%= link_to pricing_cta(plan), new_subscription_path(plan: plan.id), class: "btn btn-tertiary btn-large btn-block" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
