<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>Jumpstart Docs | <%= yield :section_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/monokai.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <%# Be sure to add your own custom favicons %>
    <script>
      document.addEventListener("turbo:load", function() {
        var snippets = document.querySelectorAll('pre code')
        snippets.forEach(function(snippet) {
          hljs.highlightElement(snippet);
        })
      });
    </script>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%= yield :head %>
  </head>

  <body class="h-full overflow-x-hidden font-sans font-normal leading-normal bg-offwhite">
    <%= render partial: "shared/flash" %>

    <div class="flex flex-wrap items-start justify-between main">

      <div class="flex w-full px-4 py-4 md:w-1/5 lg:p-8">
        <%= render partial: "jumpstart/docs/nav" %>
      </div>

      <div class="flex flex-col w-full h-full bg-white border-l border-gray-200 md:w-4/5 docs-main">

        <% if content_for :section_title %>
          <div class="px-4 py-10 mb-6 text-white bg-primary-500 md:px-20 lg:px-40 xl:px-56">
            <h1><%= yield :section_title %></h1>
          </div>
        <% end %>

        <div class="px-4 pt-4 md:px-20 lg:px-40 xl:px-56">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
