<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="antialiased font-sans bg-gray-100">
    <%= yield %>
  </body>
</html>
