<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-200">
      <h1 class="h3">
        <%= link_to t("accounts.index.title"), accounts_path, class: "hover:text-black" %>
        <%= render_svg "icons/cheveron-right", styles: "fill-current icon-sm text-gray-600 inline-block" %>
        <%= t(".title") %>
      </h1>
      <div class="mb-8 text-gray-700"><%= t(".description") %></div>

      <%= render 'form', account: @account %>
    </div>
  </div>
</div>
